<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Help</title>
</head>
<body>
	<main>

		<h3>Help Section</h3>

		<p>The help section</p>
		
		<p> You must answer correct to each question to advance and fiish the game. <br> <br>

			You have 3 lives (chances) to do so. When you run out of lives, you must start over.<br> <br>

			Good luck and have fun! </p>


		<p>
			<a href="index.php">Back to the main window</a>
		</p>
	</main>
</body>
</html>