<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
		<link rel="stylesheet" type="text/css" href="style/style.css">

</head>
<body>
	<main>
		<div class="test">
		<h3> Guess the right answer</h3>
		
		<p>

			<a href="index.php?section=login"> <button>Log in</button></a>

			

		</p>
			<a href="index.php?section=help"> <button>Help</button></a>
		<p>
			<!-- <a href="index.php?section=login">Login</a> -->

			<!-- <a href="index.php?section=help">Help</a> -->
		</p>
		</div>
	</main>
</body>
</html>